<ol class="breadcrumb">
  <li><%= link_to 'Home', pins_path %></li>
  <li><%= link_to @pin.user, pins_path %></li>
  <li class="active"><%= @pin.description %></li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
			<h1>Editing pin</h1>
    </div>
	</div>
	<div class="panel-body">
		<%= render 'form' %>
	</div>
	<div class="panel-footer">
		<%= link_to 'Show', @pin %>
	</div>
</div>